<!DOCTYPE html>
<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }} | {{ siteConfig.name }}</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="flex h-full">
    {{ content }}
  </body>
</html>
